# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# dataset used in analyses:
abundance.txt
xy.txt

Fin_ggplot.txt
Poc_ggplot.txt
Fol_ggplot.txt
Rre_ggplot.txt
Prh_ggplot.txt
Psu_ggplot.txt
Rmi_ggplot.txt
Fca_ggplot.txt
Fst_ggplot.txt
Rqu_ggplot.txt

1_Fin_poc_ggplot.txt
2_Fin_Fol_ggplot.txt
3_Fin_Rre_ggplot.txt
4_Fin_Prh_ggplot.txt
5_Poc_Fol_ggplot.txt
6_Poc_Rre_ggplot.txt
7_Poc_Prh_ggplot.txt
8_Fol_Rre_ggplot.txt
9_Fol_Prh_ggplot.txt
10_Rre_Prh_ggplot.txt

1_Fin_Poc.txt
2_Fin_Fol.txt
3_Fin_Rre.txt
4_Fin_Prh.txt
5_Poc_Fol.txt
6_Poc_Rre.txt
7_Poc_Prh.txt
8_Fol_Rre.txt
9_Fol_Prh.txt
10_Rre_Prh.txt

valley.txt
slope.txt
ridge.txt

sampling.2.txt
sampling.3.txt
sampling.4.txt
sampling.5.txt
sampling.6.txt
sampling.7.txt
sampling.8.txt
sampling.9.txt
sampling.10.txt
sampling.11.txt
sampling.12.txt
sampling.13.txt
sampling.14.txt
sampling.15.txt
sampling.16.txt
sampling.17.txt
sampling.18.txt
sampling.19.txt
sampling.20.txt
sampling.21.txt
sampling.22.txt
sampling.23.txt
sampling.24.txt
sampling.25.txt
sampling.26.txt
sampling.27.txt
sampling.28.txt
sampling.29.txt
sampling.30.txt
sampling.31.txt
sampling.32.txt
sampling.33.txt
sampling.34.txt
sampling.35.txt
sampling.36.txt
sampling.37.txt
sampling.38.txt
sampling.39.txt
sampling.40.txt
sampling.41.txt
sampling.42.txt
sampling.43.txt
sampling.44.txt
sampling.45.txt
sampling.46.txt
sampling.47.txt
sampling.48.txt
sampling.49.txt
sampling.50.txt
sampling.51.txt

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
